@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: 200px;
  background-color: rgb(19, 209, 209);
  padding: 5px;
  display: inline-block;
  text-align: center;
}

.img{
  text-align: center;
  width: 150px;
  height: 150px;
}
.heading{
  margin-top: 20px;
}
